{% extends 'layout.html' %}

{% block body %}
      <h1>Choose Random Number</h1>
      <hr>
      <form method="POST" action="">
      <div class="form-group">
            <select name="ChooseNumber">
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
            </select>
      </div>
      <p><input class="btn btn-primary" type="submit" value="Submit"></p>
  </form>
{% endblock %}
